* {
    margin: 0;
    padding: 0;
    font-family: Lexend Deca,sans-serif;    
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
html {
    font-size: 60%;
    overflow-x: hidden;
}
body {
    background-color: #424874;
    color: white;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    max-height: min-content;
    width: 100%;
    padding: 4rem 12% 4rem;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo {
    font-size: 3rem;
    color: whitesmoke;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
}
.logo  {
    text-shadow: 0 0 25px ;
}
.logo span {
    color: whitesmoke;
}
.navbar a {
    font-size: 1.8rem;
    color: whitesmoke;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
    color: #d5cfe1;
    border-bottom: 3px solid #d5cfe1;
}
#menu-icon {
    font-size: 3.6rem;
    color: white;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span {
    color: #d5cfe1;
}

.logo span {
    color: whitesmoke;
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background: transparent;
    font-size: 4rem;
    border-radius: 50%;
    color: whitesmoke;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
    margin-left: -17px;
}
.social-icons a:hover {
    color: whitesmoke;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px #d5cfe1;
    background-color: #424874;
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #424874;
    box-shadow: 0 0 25px #d5cfe1;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: whitesmoke;
    border: 2px solid #d5cfe1;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px #d5cfe1;
    background-color: #d5cfe1;
    color: black;
}
.text-animation {
        font-size: 34px;
        font-weight: 600;
        min-width: 280px;
}
.text-animation span {
    position: relative;
    font-family:'Perpetua', monospace; 
    color: whitesmoke
}
.text-animation span::before {
    color: whitesmoke;
    animation: words 20s infinite;
}
.text-animation span::after {
    content: "";
    background-color: #424874;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid whitesmoke;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}



.heading {
    font-size: 8rem;
    text-align: left;
    margin: 5rem 0;

}
.tab-titles{
    display: flex;
    margin: 20px 0 0;
    color: whitesmoke;
    margin-bottom: 50px;
}
.tab-titles p {
    font-size: 24px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #d5cfe1;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
    color: #EDEDEE;
}

.education {
    padding: 100px 15px;
    background: #d5cfe1;
}
.education h2 {
    margin-bottom: 0;
}
.timeline-contanier {
    display: flex;
}
.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    float: left;
    
}
.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: whitesmoke;
    left: -1px;
}
.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    padding-left: 30px;
}
.timeline-item:last-child {
    margin-bottom: 0;
}
/* .timeline-item:nth-child(odd) {
    padding-right: calc(50% +30px);
} */
/* .timeline-item:nth-child(even) {
    padding-left: 30px;
} */
.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: whitesmoke;
    box-shadow: 0 0 25px whitesmoke;
    position: absolute;
    left: -8px;
    border-radius: 50%;
    top: 10px;
}
.timeline-date {
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    margin: 6px 0 15px;
}
.timeline-content {
    background-color: #424874;
    border: 3px solid #d5cfe1;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #d5cfe1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 500px;
    margin-top: 20px;
}
.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #d5cfe1;
}
.timeline-content p {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 400;
}
.timeline-content ul li {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 3px;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: #d5cfe1;
}
::-webkit-scrollbar-track {
    background-color: #424874;
    width: 50px;
}


.projects {
    background: #424874;
    color: whitesmoke;
}
.projects h3 {
    margin-bottom: 5rem;
    color: whitesmoke;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    align-items: center;
    gap: 2.5rem;
}
.project-box {
    background-color: whitesmoke;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: black;
    min-height: 500px;
}
.project-box:hover {
    background: #d5cfe1;
    border: 5px solid #424874;
    transform: scale(1.03);
}
.project-box .project-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}
.project-info h4 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
}
.project-info p {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
    margin: auto;
}
.project-info i {
    color: #424874;
    margin-top: 25px;
    font-size: 60px;
    margin-bottom: 30px;
    display: block;
    align-self: center;
}
.project-info a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}



.skills-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    row-gap: 40px;
    margin-bottom: 70px;
}
.resize-image {
    background-color: whitesmoke;
    border-radius: 20%;
    padding: 10px;
    width: 70px; 
    height: 70px; 
    margin-right: 20px; 
    box-shadow: 0 0 10px #d5cfe1;
}
.skills h4 {
    font-size: 4rem;
    margin-bottom: 40px;
}
.level {
    display: flex;
    margin-top: 10px;
}
.level div {
    margin-right: 4px;
}
.level-dot {
    background: whitesmoke;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px #d5cfe1;
}
.level-circle {
    background: #424874;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px #d5cfe1;
    border: 2px solid whitesmoke;
}
.skill-info {
    display: flex;
}
.skill-info p {
    font-size: 1.8rem;
    justify-content: baseline;
    margin-top: 15px;
}


.contact-container-left{
    flex-basis: 35%;
}
.contact-container-left p{
    margin-top: 30px;
    font-size: 1.5rem;
}
.contact-container-left p i{
    color: #fff;
    margin-right: 15px;
    font-size: 4rem;
}

.btn.btn2 {
    display: inline-block;
    margin: 30px auto;
    width: fit-content;
    padding: 20px;
    border-radius: 6px;
    text-decoration: none;
}

@media only screen and (max-with:600px){

}
